<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <error-page>
        <exception-type>jakarta.faces.FacesException</exception-type>
        <location>/error.xhtml</location>
    </error-page>

    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/login.xhtml</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>

    <display-name>
        JSF 2.0: Template Application
    </display-name>
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{templateThemeHandler.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>muhurdar.folder</param-name>
        <param-value>/tmp/muhurdar</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>/webstart/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>OpenLdap</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>

    <!-- 
    exclude /login form authorization
    OMIT auth-constraint 
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>app</web-resource-name>
            <url-pattern>/loginJaas</url-pattern>
            <url-pattern>/loginJaas/*</url-pattern>
            <url-pattern>/fphi/*</url-pattern>
            <url-pattern>/fpop</url-pattern>
            <url-pattern>/fpmx</url-pattern>
            <url-pattern>/public</url-pattern>
            <url-pattern>/public/*</url-pattern>
            <url-pattern>/muhurdar</url-pattern>
            <url-pattern>/muhurdar/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML Protected Pages</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
                only admin group can access
            </description>
            <role-name>fmsuser</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
